{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Chennai Jobs</title>
<link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>

<body>

<div class="wrapper">

<div class="content-box">

<h1>Chennai Jobs Information</h1>

<a href="/" class="back-btn">⬅ Back to Home</a>

<!-- IMAGES -->
<div class="img-box">
    <img src="{% static 'images/chennai1.jpg' %}">
    <img src="{% static 'images/chennai2.jpg' %}">
    <img src="{% static 'images/chennai3.jpg' %}">
</div>

<!-- TABLE -->
<table border="2">
<tr>
<th>Date</th>
<th>Company</th>
<th>Title</th>
<th>Eligibility</th>
<th>Address</th>
<th>Email</th>
<th>Phone</th>
</tr>

{% for job in jobs_list %}
<tr>
<td>{{job.date}}</td>
<td>{{job.company}}</td>
<td>{{job.title}}</td>
<td>{{job.eligibility}}</td>
<td>{{job.address}}</td>
<td>{{job.email}}</td>
<td>{{job.phonenumber}}</td>
</tr>
{% endfor %}

</table>

</div>
</div>

</body>
</html>