{% load static %}
<html>
<head>
<title>Ankit Jobs Portal</title>

<link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<link rel="stylesheet" href="{% static 'css/demo.css' %}">

</head>

<body>

<div class="wrapper">

<div class="jumbotron text-center main-box">

<h1>Welcome To NextGen JOBS</h1>
<p>continuous Job updates for every hour...</p>

<a href="/hyd/" class="btn btn-warning btn-lg">Hyderabad Jobs</a>
<a href="/blore/" class="btn btn-info btn-lg">Bangalore Jobs</a>
<a href="/chennai/" class="btn btn-primary btn-lg">Chennai Jobs</a>
<a href="/pune/" class="btn btn-success btn-lg">Pune Jobs</a>

</div>

</div>

</body>
</html>